@import "common.scss";

header {
    background-color: $color-main;

    .nav-wrap img {
        top: -35px;
        width: 150px;
    }
}

h1, h2 {
    font-size: 2.4em;
    font-weight: 400;
    margin-bottom: 40px;
}

p {
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
}

main {
    .top {
        background-image: url("/assets/images/mamram/mamram-bg.webp");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 300px;


        .container {
            height: 100%;
            position: relative;

            /*
            img {
                position: absolute;
                bottom: 50px;
                right: 25px;
                width: 20%;
                max-width: 400px;
            }*/
        }


        @media (min-width: 768px) {
            height: 400px;
        }

        @media (min-width: 992px) {
            height: 500px;
        }

        @media (min-width: 1200px) {
            height: 600px;
        }

        @media (min-width: 1400px) {
            height: 700px;
        }
    }

    .top2 {
        text-align: center;

        h1 {
            margin-bottom: 0;
            color: #f4ba07;

        }

        img {
            width: 30%;
            max-width: 300px;
            margin-bottom: 40px;
        }

        /*

        background-image: url(/assets/images/home/ms-bg.png);
        background-repeat: repeat;

        h1 {
            color: #f4ba07;
        }*/
    }

    .advantages {
        @include shadow;
        background-image:  url(../images/advantages-bg.png); /* , url(../images/advantages-base-bg.png) */
        background-position: top  center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #d7e5ed;

        ul {
            columns: 2;
            list-style: none;
            margin: 0;
            padding: 0;

            @media (max-width: 991px) {
                columns: 1;
            }

            li {
                display: inline-block;
                position: relative;
                padding-left: 20px;
                font-size: 1em;
                font-weight: 400;
                line-height: 2em;
                margin-top: 10px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    top: 15px;
                    left: 0;
                    background-color: $color-main;
                }
            }
        }
    }

    .partners {
        @include shadow;
        /*background-color: #dfe8ed;*/
        padding-top: 20px;
      }
}




