@import "common.scss";

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}


main {
  .top {
    margin-top: -160px;
  }

  h1 {
    font-size: 4.1em;
    font-weight: 400;
  }

  h2 {
    font-size: 2.4em;
    font-weight: 400;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.5em;
  }

  h4 {

  }

  h5 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 10px;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  p {
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
  }

  hr {
    border-top-color: $color-yellow;
    width: 70%;
    margin: 3rem auto;
    max-width: 900px;
    opacity: 1;
    border-top-width: 4px;
  }

  .text-orange {
    color: $color-yellow;
  }

  .row > * {
    margin-top: 30px;
  }

  .btn {
    &.btn-yellow {
      background-color: $color-yellow;
      display: inline-block;
      height: 60px;
      line-height: 60px;
      padding: 0 60px;
      border-radius: 0;
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  .img-wrap {
    text-align: center;
    margin: 30px auto;

    img {
      text-align: center;
      margin: auto;
    }
  }

  ul.items {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      padding-left: 20px;
      font-size: 1em;
      font-weight: 400;
      line-height: 2em;
      display: block;
      margin-top: 10px;

      &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        top: 15px;
        left: 0;
        background-color: $color-main;
      }
    }
  }

  .yellow {
    ul {
      li {
        &::before {
          background-color: $color-yellow;
        }
      }
    }
  }

  .top {
    @include shadow;
    position: relative;
    background-color: #031219;

    .content-wrap {
      padding-top: 145px; //50px;
    }

    .scroll-down-wrap {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 375px;

      .arrow,
      .arrow:before,
      .arrow:after {
        position: absolute;
        left: 50%;
        top: 50%;
        border-left-width: 0;
        border-top-width: 0;
        width: 40px;
        height: 40px;


        border-style: solid;
        border-right-width: 4px;
        border-bottom-width: 4px;
      }

      .arrow {
        margin: -20px 0 0 -20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border-color: $color-yellow;

        &:before,
        &:after {
          content: "";
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-name: arrow;
        }

        &:before {
          /*
          width: 20px;
          height: 20px;
          border-right: 3px white solid;
          border-bottom: 3px white solid;
          */
          border-color: rgba(244, 186, 7, 0.59);
          margin: -30px 0 0 -30px;
        }

        &:after {/*
          width: 10px;
          height: 10px;
          border-right: 1px white solid;
          border-bottom: 1px white solid;
          */
          border-color: rgba(244, 186, 7, 0.29);
          margin: -40px 0 0 -40px;
        }
      }
    }

    /*
    .video-wrap {
      .ratio {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
      }
    }*/

    color: white;
    background-image: url(../images/top-bg.jpg);
    background-position: center top; // -100px;
    background-repeat: no-repeat;
    /*background-size: contain;
    background-color: #051725;*/
    height: 1070px; // 800px;


    h1 {
      text-transform: uppercase;

      strong {
        font-weight: 400;
        color: #fbbe05;
      }
    }

    h3 {
      margin-top: 30px;
      font-weight: 200;
    }

    @media (max-width: 991px) {
      text-align: center;
      //background-position: center top;

      .content-wrap {
        //padding-top: 110px;
      }

      h1 {
        font-size: 2.5em;
      }

      h3 {
        font-size: 1.5em;
      }

      .col {
        margin-top: 0;
      }
    }
  }

  .assessments {
    padding: 30px;
  }

  .nutshell {
    @include shadow;
    background-color: #dfe8ed;
    padding-top: 15px;
  }

  .matching-service {
    @include shadow;
    background-image: url(../images/home/ms-bg.png);
    background-repeat: repeat;

    h2 {
      strong {
        text-transform: uppercase;
      }

      font-weight: 400;
      color: $color-yellow;
      text-align: center;
      margin-bottom: 30px;
    }

    p {
      font-size:27px;
      font-weight: 400;
      line-height: 1.5em;
      color: white;
      margin-bottom: 30px;
    }

    .btn {
      &.btn-yellow {
        background-color: $color-yellow;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        padding: 0 60px;
        border-radius: 0;
        font-weight: 400;
        color: #1f5381;

        &:hover {
          background-color: #eab103;
        }
      }
    }
  }

  .services {
    padding-top: 60px;

    .smartexe-wrap {
      margin-top: 40px;

      img {
        position: relative;
        top: -7px;
        margin-left: 10px;
      }
    }
  }

  .advantages {
    @include shadow;
    background-image:  url(../images/advantages-bg.png); /* , url(../images/advantages-base-bg.png) */
    background-position: top  center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d7e5ed;

    .img-wrap {
      display: inline-block;
      width: 150px;
      height: 150px;
      background-color: #012e49;
      position: relative;

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  .packages {
    @include shadow;
    color: white;
    background-color: #2a6383;


    h5 {
      margin-bottom: 30px;
    }

    .btn {
      margin-top: 25px;
    }

    img {
      height: 116px;
    }
  }
}

