@keyframes arrow {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px); } }

body {
  font-family: Montserrat, Verdana, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  color: #031829;
  font-size: 17px;
  /*min-width: 400px;*/ }

.navbar {
  z-index: 1; }
  .navbar .nav-item .nav-link {
    font-size: 1.2em;
    text-transform: uppercase; }
  .navbar .dropdown-menu {
    background-color: #b4bac0;
    border-radius: 0;
    border-top: 1px solid #f4ba07; }
  @media (max-width: 991px) {
    .navbar .nav-link {
      padding: 15px; } }
  @media (min-width: 992px) {
    .navbar .nav-item:not(:first-child) {
      border-left: 1px solid #f4ba07; }
    .navbar .nav-item .nav-link {
      padding: 0 10px; }
    .navbar .dropdown-menu {
      padding: 0; } }

main section {
  padding: 60px 0; }

main h1 {
  font-size: 4.1em;
  font-weight: 400; }

main h2 {
  font-size: 2.4em;
  font-weight: 400;
  margin-bottom: 40px; }

main h3 {
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.5em; }

main h5 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 10px; }
  @media (max-width: 767px) {
    main h5 {
      text-align: center; } }

main p {
  font-size: 1em;
  font-weight: 400;
  line-height: 2em; }

main hr {
  border-top-color: #f4ba07;
  width: 70%;
  margin: 3rem auto;
  max-width: 900px;
  opacity: 1;
  border-top-width: 4px; }

main .text-orange {
  color: #f4ba07; }

main .row > * {
  margin-top: 30px; }

main .btn.btn-yellow {
  background-color: #f4ba07;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 60px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 400; }

main .img-wrap {
  text-align: center;
  margin: 30px auto; }
  main .img-wrap img {
    text-align: center;
    margin: auto; }

main form input.error {
  outline: 1px solid #ef2626; }

main form label.error {
  color: #ef2626;
  font-size: 0.9rem;
  margin-top: 2px; }

main #form-success {
  color: #f4ba07; }

main .video-btn-wrap {
  display: inline-block;
  border: 2px solid #f4ba07;
  padding: 8px 15px;
  border-radius: 20px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 2;
  box-shadow: 0 0 6px #f4ba07;
  background-color: #f4ba07; }
  main .video-btn-wrap a {
    text-decoration: none; }
  main .video-btn-wrap svg {
    float: left;
    height: 30px; }
  main .video-btn-wrap span {
    /*
      margin-left: 15px;
      margin-top: 3px;*/
    display: inline-block;
    font-size: 20px;
    color: white; }

main ul.items {
  list-style: none;
  margin: 0;
  padding: 0; }
  main ul.items li {
    position: relative;
    padding-left: 20px;
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
    display: block;
    margin-top: 10px; }
    main ul.items li::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      top: 17px;
      left: 0;
      background-color: #031829; }

main .yellow ul li::before {
  background-color: #f4ba07; }

main .top {
  box-shadow: 0 29px 49px -40px black;
  position: relative;
  background-color: #031219;
  /*
    .video-wrap {
      .ratio {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
      }
    }*/
  color: white;
  background-image: url(../images/top-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  /*background-size: contain;
    background-color: #051725;*/
  height: 1070px; }
  main .top .nav-wrap {
    position: relative; }
    main .top .nav-wrap .navbar {
      position: absolute;
      left: 0;
      top: -20px; }
      main .top .nav-wrap .navbar .nav-link {
        text-align: left; }
      main .top .nav-wrap .navbar .navbar-toggler {
        margin-left: 15px; }
      @media (max-width: 991px) {
        main .top .nav-wrap .navbar .navbar-nav {
          background-color: #031829;
          margin-top: 4px; } }
    main .top .nav-wrap img {
      position: absolute;
      right: 15px;
      top: -40px; }
  main .top .content-wrap {
    padding-top: 105px; }
  main .top .scroll-down-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 375px; }
    main .top .scroll-down-wrap .arrow,
    main .top .scroll-down-wrap .arrow:before,
    main .top .scroll-down-wrap .arrow:after {
      position: absolute;
      left: 50%;
      top: 50%;
      border-left-width: 0;
      border-top-width: 0;
      width: 40px;
      height: 40px;
      border-style: solid;
      border-right-width: 4px;
      border-bottom-width: 4px; }
    main .top .scroll-down-wrap .arrow {
      margin: -20px 0 0 -20px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      border-color: #f4ba07; }
      main .top .scroll-down-wrap .arrow:before, main .top .scroll-down-wrap .arrow:after {
        content: "";
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: arrow; }
      main .top .scroll-down-wrap .arrow:before {
        /*
          width: 20px;
          height: 20px;
          border-right: 3px white solid;
          border-bottom: 3px white solid;
          */
        border-color: rgba(244, 186, 7, 0.59);
        margin: -30px 0 0 -30px; }
      main .top .scroll-down-wrap .arrow:after {
        /*
          width: 10px;
          height: 10px;
          border-right: 1px white solid;
          border-bottom: 1px white solid;
          */
        border-color: rgba(244, 186, 7, 0.29);
        margin: -40px 0 0 -40px; }
  main .top h1 {
    text-transform: uppercase; }
    main .top h1 strong {
      font-weight: 400;
      color: #fbbe05; }
  main .top h3 {
    margin-top: 30px;
    font-weight: 200; }
  @media (max-width: 991px) {
    main .top {
      text-align: center; }
      main .top h1 {
        font-size: 2.5em; }
      main .top h3 {
        font-size: 1.5em; }
      main .top .col {
        margin-top: 0; } }

main .assessments {
  padding: 30px; }

main .nutshell {
  box-shadow: 0 29px 49px -40px black;
  background-color: #dfe8ed;
  padding-top: 15px; }

main .services {
  padding-top: 60px; }
  main .services .smartexe-wrap {
    margin-top: 40px; }
    main .services .smartexe-wrap img {
      position: relative;
      top: -7px;
      margin-left: 10px; }

main .advantages {
  box-shadow: 0 29px 49px -40px black;
  background-image: url(../images/advantages-bg.png);
  /* , url(../images/advantages-base-bg.png) */
  background-position: top  center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d7e5ed; }
  main .advantages .img-wrap {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #012e49;
    position: relative; }
    main .advantages .img-wrap img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }

main .packages {
  box-shadow: 0 29px 49px -40px black;
  color: white;
  background-color: #2a6383; }
  main .packages h5 {
    margin-bottom: 30px; }
  main .packages .btn {
    margin-top: 25px; }
  main .packages img {
    height: 116px; }

main .igor {
  padding-bottom: 100px;
  /*
        .btn {
      margin-left: 15px;
    }


    @media (max-width: 991px) {
      .btn {
        padding: 0 15px;
      }
    }*/ }
  main .igor .links {
    float: left; }
    main .igor .links a {
      /*
        text-decoration: none;
        color: $color-main;*/
      font-size: 1em; }
    main .igor .links svg {
      width: 27px;
      margin-right: 15px; }

footer .navbar {
  padding: 40px 0; }
  footer .navbar .nav-item .nav-link {
    text-transform: none;
    font-size: 1em; }
    @media (max-width: 991px) {
      footer .navbar .nav-item .nav-link {
        padding: 5px 0; } }
